$blue_disabled: rgb(48, 124, 156);
$blue_active: rgb(25, 103, 136);
$green_disabled: rgba(20, 196, 20, 0.623);
$green_active: rgba(20, 196, 20, 0.781);
$yellow: rgba(255, 208, 0, 0.664);
$red: rgba(226, 14, 14, 0.651);
