@import './colors.scss';

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  overflow-x: scroll;

  .projects-wrap {
    display: flex;

    .project {
      display: flex;
      width: 90vw;
      height: 70vh;
      margin-left: 5vw;
      margin-right: 5vw;
      box-shadow: 0 0 2vw rgba(109, 107, 107, 0.589);

      .image,
      .info {
        width: 50%;
        height: 100%;

        .title {
          font-family: 'Roboto', sans-serif;
          font-size: 2vw;

          @media (max-width: 1200px) {
            font-size: 3vw;
          }
        }

        .text {
          width: 80%;
          font-family: 'Roboto', sans-serif;
          font-size: 1.4vw;
          text-align: justify;

          @media (max-width: 1200px) {
            font-size: 2.6vw;
          }

          .text-link {
            color: $blue_active;
          }
        }
        .links {
          display: flex;
          justify-content: space-between;
          width: 70%;

          .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 6vh;
            background: $blue_disabled;
            font-family: 'Roboto', sans-serif;
            font-size: 2vw;
            text-decoration: none;
            color: white;

            @media (max-width: 1200px) {
              font-size: 3vw;
            }
          }

          .link:hover {
            cursor: pointer;
            background: $blue_active;
          }
        }
      }

      .image.minecraft {
        background: url(../assets/minecraft.jpg) no-repeat;
        background-size: 200%;
        background-position: center;
      }

      .image.covid {
        background: url(../assets/covid.jpg) no-repeat;
        background-size: 200%;
        background-position: center;
      }

      .image.selectors {
        background: url(../assets/selectors.jpg) no-repeat;
        background-size: 200%;
        background-position: left;
      }

      .image.puzzle {
        background: url(../assets/puzzle.jpg) no-repeat;
        background-size: 200%;
        background-position: center;
      }

      .image {
        @media (max-width: 1200px) {
          display: none;
        }
      }
      .info {
        @media (max-width: 1200px) {
          width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}

.projects::-webkit-scrollbar {
  width: 2vh;
}

.projects::-webkit-scrollbar-thumb {
  background: $blue_disabled;
}

.projects::-webkit-scrollbar-thumb:hover {
  background: $blue_active;
}
