@import './colors.scss';
@import './header.scss';
@import './about.scss';
@import './projects.scss';
@import './skills.scss';
@import './footer.scss';

body {
  overflow: hidden;
}

.cv-page {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 300vh;
}
